# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*


# Build artifacts
*.apk
*.ipa

# Misc
.DS_Store
*.pem
ios/
android/
.idea/
.bolt/
certs/

#Root env files (don’t commit secrets!)
.env
.env.development
.env.local
.env.production

# typescript
*.tsbuildinfo
# Supabase local env
supabase/.env

notes.txt
